/* SOURCE:
Vertical align een div: https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers
*/

html {
  font-size: 62.5%;
}

body {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font: 1.6rem sans-serif;
  background-color: rgb(250, 250, 250);
  margin: 0;
}

h1 {
  color: rgb(255, 255, 255);
  font: 3.8rem sans-serif;
}

h2 {
  color: rgb(51, 51, 51);
  font: 2.4rem sans-serif;
}

h5 {
  color: rgb(29, 29, 29);
  font: bold 1.5rem sans-serif;
  margin: 0;
}

p {
  color: rgb(185, 185, 185);
  margin-top: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  display: block;
  position: absolute;
  width: 100vw;
  height: auto;
  top: 0;
  transition: top 1s ease-out;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(30, 30, 30);
  background-size: cover;
}

#hero {
  background-image:url('https://images.unsplash.com/photo-1495289972783-24a6970de403?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=03f4b660ef47a638c4bb23bea38350dc&auto=format&fit=crop&w=2551&q=80');
}

#case1 {
  background-image:url('https://images.unsplash.com/photo-1495313378299-84a779ccc4b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3eb5d138771abd1b4831b35e87c57ba5&auto=format&fit=crop&w=2550&q=80');
}

#case2 {
  background-image:url('https://images.unsplash.com/photo-1495313378299-84a779ccc4b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3eb5d138771abd1b4831b35e87c57ba5&auto=format&fit=crop&w=2550&q=80');
}

#case3 {
  background-image:url('https://images.unsplash.com/photo-1495313378299-84a779ccc4b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3eb5d138771abd1b4831b35e87c57ba5&auto=format&fit=crop&w=2550&q=80');
}

#about {
  background-image:url('https://images.unsplash.com/photo-1495289972783-24a6970de403?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=03f4b660ef47a638c4bb23bea38350dc&auto=format&fit=crop&w=2551&q=80');
}

.content {
  width: 100%;
  max-width: 640px;
  color: white;
  text-align: center;
}
